<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Game</title>
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <script type="text/javascript" src="static/phaser.js"></script>
    <script type="text/javascript" src="static/codakid.js"></script>
    
    <script type="text/javascript" src="static/menu.js"></script>
    <script type="text/javascript" src="static/main.js"></script>
    <script type="text/javascript" src="static/enemy.js"></script>
    <script type="text/javascript" src="static/functions.js"></script>
    <script type="text/javascript" src="static/player.js"></script>
    <script type="text/javascript" src="static/coin.js"></script>
    <script type="text/javascript" src="static/powerup.js"></script>
  </head>
  <body>
    <!--<label for="colors">Choose a player color:</label>
    <select name="colors" id="colors">
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="orange">Orange</option>
      <option value="purple">Purple</option>
      <option value="red">Red</option>
      <option value="teal">Teal</option>
      <option value="white">White</option>
      <option value="yellow">Yellow</option>
    </select>
    <br>-->
    <noscript>JavaScript is required to play this game.</noscript>
    <span>
    <div id="game">
      <!--<audio id="music", loop>
        <source src="assets/music/FranticLevel.mp3" type="audio/mp3">
      </audio>-->
    </span>
  </body>
</html>
